<div class="container">
  <div class="col-xs-12">
    <div class="row">
      <div class="page-header">
        <h2>Metrics</h2>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <h2>Create a KPI:</h2>
                </div>
            </div>
        </div>
        <div class="panel-body">

          <form ng-submit="submit()" name="createQuestionForm">
            <div class="form-group">
              <label for="title">Category</label>
              <input ng-model="createTitle" type="text" id="title" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="name">Metric</label>
              <input ng-model="createName" type="text" id="name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="freq">Frequency</label>
              <select ng-model="createFreq" ng-options="f for f in frequencies" id="freq" class="form-control" required></select>
            </div>
            <div class="form-group">
              <label for="repr">Visual Type</label>
              <select ng-model="createRepr" ng-options="r for r in representations" id="repr" class="form-control" required></select>
            </div>
            <input type="submit" class='btn btn-primary' value="Create Question">
          </form>
          <h4> Preview </h4>
          <p>{{ createName }}</p>
      </div>
    </div>

<h2>KPI's for {{selectedCompany.name}}</h2>
<div ng-repeat="question in questions">
  <div style="border: 1px solid #eee; padding: 10px; margin: 10px 0px;">
    <div style="inline-block">
      <h5 style="display:inline">Category: </h5>
      <p style="display:inline">{{question.title}}</p>
    </div>
    <div style="inline-block">
      <h5 style="display:inline">Metric: </h5>
      <p style="display: inline;">{{question.name}}</p>
    </div>
    <div style="inline-block">
      <h5 style="display:inline">Frequency:</h5>
      <p style="display: inline;">{{question.freq}}</p>
    </div>
    <div style="inline-block">
      <h5 style="display:inline">Visual Type:</h5>
      <p style="display: inline;">{{question.repr}}</p>
    </div>
  </div>
</div>

</div>
</div>
</div>
  <!-- <div class="col-xs-12">
    <div class="panel">
      <form class="" action="index.html" method="post">
        <div class="panel-heading">
          QUESTION_TITLE
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div>
                <input type="text" size="4" name="name" value="">
                QUESTION
                MONTH_NAME
              </div>
              <input class="btn btn-primary pull-right" type="button" name="name" value="Submit">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->
