<div>
	<div class="row" style="text-align:center">
		<img src="http://www.coventure.vc/images/logo-new-grey.png" width="320px" alt="">
	</div>
	<div class="row" style="padding:100px 0px;">
		<div class="col-md-offset-2">
			<div class="col-md-3" style="text-align:center">
				<h1>Investor</h1>
				<button id="button" ng-click="loginInvestor" class="btn btn-lg btn-primary">Login</button>
			</div>
			<div class="col-md-offset-4 col-md-2" style="text-align:center">
				<h1>Startup</h1>
				<select class="form-control" id="select">
              <option>CoVenture</option>
              <option>Klipfolio</option>
              <option>Amazon</option>
              <option>You.i</option>
            </select>
				<div style="margin:5px 0px">
					<button id="button" ng-click="loginCompany" class="btn btn-lg btn-primary">Login</button>
				</div>
			</div>
		</div>
	</div>
</div>