<div class="row">
        <div class="col-xs-12">
            <div class="panel">
              <form class="" action="index.html" method="post">
                <div class="panel-heading">
                  QUESTION_TITLE
                </div>
                <div class="panel-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <div>
                            <input type="text" size="4" name="name" value="">
                            QUESTION
                            MONTH_NAME
                          </div>
                            <input class="btn btn-primary pull-right" type="button" name="name" value="Submit">
                      </div>
                  </div>
                </div>
              </form>
                </div>
            </div>
        </div>
