<div class="panel-group">
    <div class="container">
        <div class="page-header">
            <h2>Statistics</h2>
        </div>
        <div class="container">
            <div class="row kpi-row">
                <div class="col-sm-3" ng-repeat="metric in metrics">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="huge">{{metric.variableValue[0]}}</div>
                                    <div>{{metric.variableAction}}</div>
                                </div>
                            </div>
                        </div>
                        <a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/custom.js"></script>
  </div>
</div>
