<div class="panel-group">
  <div class="container">
  <h2>Statistics</h2>
                <div class="container">
                    <div class="row kpi-row">
                    <div class="col-sm-3">
                <div class="panel" style="background-color: #4CAF50; color:#E8F5E9;">
                            <div class="panel-heading">
                               <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-usd fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="huge">26 Sales</div>
                                        <div>This Week</div>
                                        
                                    </div>
                                </div>
                            </div>
                            <a href="#">
<!--
                                <div class="panel-body">
                                
                                </div> 
-->
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel"  style="background-color: #FF9800; color:#FFF3E0;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-usd fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="huge">26 Sales</div>
                                        <div>This Week</div>
                                        
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel" style="background-color: #00BCD4; color:#E0F7FA;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-usd fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="huge">26 Sales</div>
                                        <div>This Week</div>
                                        
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel" style="background-color: #9C27B0; color:#F3E5F5;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-usd fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="huge">26 Sales</div>
                                        <div>This Week</div>
                                        
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                
                            </a>
                        </div>
                    </div>
                    
                    </div>
                    
                    <div class="row kpi-row">
                    <div class="col-sm-8">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                
                            </div>
                            <a href="#">
                                <div class="panel-body">
                            
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                
                            </div>
                            <a href="#">
                                <div class="panel-body">
                            
                                </div>
                            </a>
                        </div>
                    </div>
                    </div>
                    
                    <div class="row kpi-row">
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                
                            </div>
                            <a href="#">
                                <div class="panel-body">
                            
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                
                            </div>
                            <a href="#">
                                <div class="panel-body">
                            
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                
                            </div>
                            <a href="#">
                                <div class="panel-body">
                            
                                </div>
                            </a>
                        </div>
                    </div>
                    </div>          
                    
                    
                    
                    
                    
                    
                    
                
 


